body{
    background-image: url(pixel-7290384_1920.png);
    font-family: 'Press Start 2P', monospace;
}
.contenedor {
    display: flex;           
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15px;
    flex-wrap: wrap;
    padding: 5vw;
    gap: 2rem;

}
.item {
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color:rgba(13, 175, 140, 0.452);
}
button{
    display: flex;
    flex-direction: column;
    border-radius: 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    
}
nav{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.aboutme{
    width: 375px;
    align-content: left;
    text-size-adjust: 12;
}
a{
    text-decoration: none;
    color: rgb(230, 79, 79);
    
}
a:visited{
    color: rgb(230, 79, 79);
}
.screen{
    height: 300px;
    width: 250px;
}
